:root {
  --font-family-amiri: "Amiri Quran", serif;
  --font-family-amiri-normal: "Amiri", serif;
  --color-gold-gradient: linear-gradient(to bottom right, #ff9900, #ddff00);
  --color-green-gradient: linear-gradient(to bottom right, #b6dcd4, #216255);
  --color-light-gray: #f5f5f5;
  --color-white: white;
  --color-dark-white: #f5f5f5;
  --color-gray: rgba(128, 128, 128, 0.842);
  --color-box-img: #cdcdcd;
  --color-background: #282c34;
  --color-background-darker: #20232a;
  --color-white-blue: #61dafb;
  --color-gold: gold;
  --color-orange: orange;
  --color-purple: #864cff;
  --color-dark-purple: #4b0cd1;
  --font-size-small: 1rem;
  --font-size-small-1: 1.5rem;
  --font-size-small-2: 2rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 2.2rem;
  --font-weight-bold: 700;
  --max-width: 100vb;
  --max-width-mobile: 40vb;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

form,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-amiri-normal);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
  background-color: var(--color-gold);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: var(--color-orange);
}

@keyframes jump {
  0% {
    transform: translateY(0.2rem);
  }
  35% {
    transform: translateY(-0.2rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jump-4 {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10%) scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Header */
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    padding: 0.2rem 2rem;
  }
}

.header:hover {
  background-color: #444444;
}
.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: var(--font-weight-bold);
  gap: 0.5rem;
}
.logo__img {
  width: 50px;
  display: flex;
  justify-content: right;
  filter: invert(50%);
  transition: filter 0.3s ease;
  @media (max-width: 768px) {
    width: 40px;
  }
}
.logo__img:hover {
  filter: hue-rotate();
}
.logo__link a {
  margin: 0 1rem;
  font-size: var(--font-size-small-2);
  @media (max-width: 768px) {
    font-size: var(--font-size-small-1);
  }
}
.logo__link a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo__link:hover {
  color: #ffa500;
}

.logo__link:active {
  color: #ff6347;
  transform: translateY(0.2rem);
}
.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__item {
  margin-right: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #ffa500; /* Change to desired hover color */
}

/* // End Header */

/* Bio */
.bio {
  background-color: var(--color-background);
  margin: 5rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
  gap: 1rem;
  @media (max-width: 768px) {
    margin: 4rem 0 5rem;
  }
}
.bio__top {
  font-family: var(--font-family-amiri);
  color: var(--color-white-blue);
  font-size: var(--font-size-large);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  @media (max-width: 768px) {
    font-size: var(--font-size-small-1);
    gap: 1rem;
  }
}
.score-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #42b883;
  margin-top: 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-top: 1rem;
  }
}
.bio__center {
  font-family: var(--font-family-amiri-normal);
  font-size: var(--font-size-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: var(--max-width);
  margin: 1rem 0.2rem;
  overflow-y: auto;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; */

  @media (max-width: 768px) {
    font-size: var(--font-size-small-1);
  }
}

.form {
  /* position: fixed;
  z-index: 2;
  bottom: 5rem;
  padding: 1rem 2rem;
  text-align: center; */
}
.horizontal-line {
  width: var(--max-width);
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
  opacity: 0.3;
  @media (max-width: 768px) {
    width: var(--max-width-mobile);
  }
}

.card__input {
  padding: 0.2rem 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 1rem;
  width: 40vb;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  outline: none;
  transition: all 0.3s;
  margin-bottom: 0.5rem;
  @media (max-width: 768px) {
    font-size: var(--font-size-small);
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.submit-button {
  background-color: #4caf4f9e;
  border: none;
  color: var(--color-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.next-button {
  background-color: inherit;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  text-decoration: underline;
}
.submit-button:hover {
  background-color: #45a049;
}
.submit-button:active:hover {
  background-color: #005f7f;
}
.next-button:active,
.submit-button:active {
  transform: scale(0.98);
  transform: translateY(0.2rem);
}

/* // End Bio */

/* Footer */

.footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: center;
  border-top: 1px solid var(--color-box-img);
  background-color: #333333;
  color: #ffffff;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    padding: 0.2rem 0;
  }
}

.footer:hover {
  background-color: #444444;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer__author {
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.heart {
  color: red;
  animation: heartbeat 1.2s infinite;
}

.footer__bio {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    font-size: 0.6rem;
  }
}

.arrow {
  margin-left: 5px;
  display: inline-block;
  animation: jump 1s infinite alternate ease-in-out;
}

.contact__socials {
  display: flex;
  position: fixed;
  right: 3rem;
  bottom: 0.6rem;
  justify-content: right;
  align-items: center;
  border-radius: 0.5rem;
  transition: var(--transition-timing);

  @media (max-width: 768px) {
    display: none;
  }
}
.contact__social {
  transition: var(--transition-timing);
  width: 2.5rem;
  animation: jump-4 3s infinite alternate ease-in-out;
  padding: 0 1.5rem;
}
.contact__img {
  border-radius: 50%;
  padding: 0.1rem;
  margin-right: 0.3rem;
  max-width: 2rem;
}
.contact__img-2 {
  padding: 0.1rem;
  margin-right: 0.3rem;
  max-height: 2rem;
  max-width: 2rem;
}
.heart__img {
  padding: 0.1rem;
  margin-right: 0.3rem;
  max-height: 1.3rem;
  max-width: 1.3rem;
}

.footer-link {
  margin: 0 0.5rem;
}
.footer-link a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link a:hover {
  color: #ffa500;
  text-decoration: underline;
}

.footer-link:active {
  color: #ff6347;
  transform: translateY(0.2rem);
}

/* end Footer */
